@import url("https://fonts.googleapis.com/css2?family=Lobster&display=swap");

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  inline-size: 100%;
  block-size: 100dvh;
  background: linear-gradient(90deg, #cfecd0, #a0cea7, #9ec0db);
  font-family: "Lobster", sans-serif;
  font-weight: 400;
  font-style: normal;
}

.header {
  inline-size: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 1rem;
  background: linear-gradient(-90deg, #aea4e3, #d3ffe8);
  box-shadow: 0 0 20px 2px SteelBlue;

  &__title {
    background: linear-gradient(-135deg, #e55d87 0%, #5fc3e4 100%);
    font-size: 3rem;
    background-clip: text;
    color: transparent;
    transition: 0.5s;
    -webkit-user-select: none;
    user-select: none;

    &:hover {
      filter: brightness(1.3);
    }
  }
}

.main {
  inline-size: 100%;
  block-size: 100%;
  margin-top: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;

  .noTasks {
    font-size: 2rem;
  }

  .deleteButton {
    inline-size: 30%;
    background: linear-gradient(135deg, #e55d87 0%, #5fc3e4 100%);
    color: white;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    font: {
      family: "Lobster", sans-serif;
      weight: 400;
      style: normal;
      size: 1.3rem;
    }
    letter-spacing: 0.1rem;
    transition: 0.2s;
    padding: 1rem;

    &:hover {
      filter: brightness(1.1);
    }

    &:active {
      filter: brightness(0.7);
    }
  }
}
